<!-- About Section -->

<style type="">

.navigation-bar {
    height: 550px;
    background-image: url({{site.baseurl}}/img/2c_story_map.jpg);
    background-size: cover;
    background-color: #fff;
    color: #fafafa;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 70% !important;
    position: relative;
}

</style>

<div class="anchor" id="2Cstory">

    <div class="navigation-bar" >

        

            <div class="col-lg-12 text-center" >

                <a class="story-map-title"  href="{{site.baseurl}}/story/" >

                    <!-- <h2 id="story-map-title" onmouseover="document.getElementById('story-underline').style.display = 'block'" onmouseout="document.getElementById('story-underline').style.display = 'none';">2C Story Map</h2> -->

                    <h2 id="story-map-title" >2C Story Map</h2>

                </a>

                <a class="story-map-title" href="{{site.baseurl}}/story/" >

                <hr id="story-underline" style="display: none;">

                </a>

            </div>

        

        
        <div class="inside">Photo Credit: Melinda Laituri</div>

    </div>

</div>

