<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <center><p>Secondary Cities (2C) is a field-based initiative of the Office of the Geographer to map for Resiliency, Human Security, and Emergency Preparedness.</p></center>
                </div>
                <div class="col-lg-4">
                    <center><p>We build partnerships to create geospatial capacity, enhance understanding through data and mapping, and enable science-based decision making.</p></center>
                </div>
            </div>
            </br>
            <div class="col-lg-12 text-center main-hyperlink" style="line-height:30px;">
                <!--
                <a href="#secondary_cities_map" data-toggle="modal">Map of Secondary Cities</a><br>
            
                <a href="{{site.baseurl}}/story/">2C Story Map</a><br>
                <a href="{{ site.baseurl }}/faq/">Frequently Asked Questions</a><br>
-->
            </div>
    </section>
