<!-- Data -->
    <section class="data" id="data">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <center><p>Human Geography data collected during each <br>Secondary City project are freely available via our Geonode </p> 
				<center><p><a href="http://secondarycities.geonode.state.gov/layers/"> Data Layers</a>&nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/layers/"><img border="0" alt="geonode" src="img/layers-icon.png" height="35" width="35"><br></p></center>
				<center><p><a href="http://secondarycities.geonode.state.gov/layers/"> Map Layers</a>&nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/layers/"><img border="0" alt="geonode" src="img/map_icon.png" height="35" width="35"><br></p></center>
                <center><p><a href="http://secondarycities.geonode.state.gov/groups/">Groups</a> &nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/groups/"><img border="0" alt="geonode" src="img/groups_icon2.png" height="35" width="35"></p></center>
				<a href="http://ec2-54-215-76-200.us-west-1.compute.amazonaws.com/"></a></center>
                </div>
            </div>
        </div>
    </section>
