<!-- Data -->
    <section class="success" id="data">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <p>
                            Human Geography data collected during each <br>Secondary City project are freely available via the <a class="main-hyperlink" href="http://secondarycities.geonode.state.gov/" target="_blank">Secondary Cities GeoNode</a> 
                        </p> 
                    <center>
                    <center><p>additional data are also available:
</br>
            <div class="col-lg-12 text-center main-hyperlink" style="line-height:30px;">
                <a href="http://cusco.urbinsight.com/" target="_blank">Cusco GeoNode</a><br>
                <a href="http://medellin.urbinsight.com/" target="_blank">Medellin GeoNode</a><br>
                <a href="http://139.59.243.79/" target="_blank">Pokhara GeoNode</a><br>
            </div>

                    <!--<p><a href="http://secondarycities.geonode.state.gov/layers/"> Data Layers</a>&nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/layers/"><img border="0" alt="geonode" src="img/layers-icon.png" height="35" width="35"><br></p></center>-->
			<!--	<center><p><a href="http://secondarycities.geonode.state.gov/layers/"> Map Layers</a>&nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/layers/"><img border="0" alt="geonode" src="img/map_icon.png" height="35" width="35"><br></p></center>
                <center><p><a href="http://secondarycities.geonode.state.gov/groups/">Groups</a> &nbsp;&nbsp;<a href="http://secondarycities.geonode.state.gov/groups/"><img border="0" alt="geonode" src="img/groups_icon2.png" height="35" width="35"></p></center>   -->
				<a href="http://ec2-54-215-76-200.us-west-1.compute.amazonaws.com/"></a></center>
                </div>
            </div>
        </div>
    </section>
