<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
  Twitter: https://dev.twitter.com/docs/cards/types/summary-card via
  ============================== -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %} "/>
  <meta property="og:site_name" content="{{ site.title }} "/>
  <meta property="og:url" content="http://secondarycities.state.gov{{ page.url }} "/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %} "/>
  <meta property="og:image" content="{% if page.imageurl %}http://secondarycities.state.gov{{ page.imageurl }}{% else %}{{ site.imageurl }}{% endif %} "/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
  <meta name="twitter:image" content="{% if page.imageurl %}http://secondarycities.state.gov{{ page.imageurl }}{% else %}{{ site.imageurl }}{% endif %} ">

  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/build/style.css">
  <link rel="stylesheet" href="{{site.baseurl}}/build/freelancer.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="{{site.baseurl}}/js/vendor/modernizr.js"></script>

  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css' rel='stylesheet' />

  <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js'></script>-->

</head>
