<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card via
    ============================== -->
    <meta property="og:title" content="Secondary Cities "/>
    <meta property="og:site_name" content="{{ site.title }} "/>
    <meta property="og:url" content="http://secondarycities.state.gov/ "/>
    <meta property="og:description" content="Secondary Cities is a field-based initiative of the Office of the Geographer to map for Resiliency, Human Security, and Emergency Preparedness. "/>
    <meta property="og:image" content="http://secondarycities.state.gov/img/logos/2C_LogoWhiteOnBlue.png "/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@stateHIU">
    <meta name="twitter:title" content="Secondary Cities">
    <meta name="twitter:description" content="Secondary Cities is a field-based initiative of the Office of the Geographer to map for Resiliency, Human Security, and Emergency Preparedness.">
    <meta name="twitter:image" content="http://secondarycities.state.gov/img/logos/2C_LogoWhiteOnBlue.png">

    <!-- Bootswatch Core CSS - Served by Start Bootstrap CDN powered by MaxCDN 
    <link rel="stylesheet" href="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/css/bootstrap.min.css">-->

    <!-- Freelancer Theme CSS - Served by Start Bootstrap CDN powered by MaxCDN 
    <link rel="stylesheet" href="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/css/freelancer.css">-->

    <!-- CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/build/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/build/freelancer.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom Fonts 
    <link href="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

    <link href="{{site.baseurl}}/assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <link href="{{site.baseurl}}/assets/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!--
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
-->

<!-- downloaded local google fonts from https://google-webfonts-helper.herokuapp.com/fonts -->
    <link href="{{site.baseurl}}/assets/css/fonts.css" rel="stylesheet" type="text/css">


    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
