<!-- Header -->

<style>
.main-hyperlink {
    font-size:20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.my-div-icon {
  padding: 6px 8px;
  font: 20px/24px Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
.my-div-icon h4 {
  margin: 0 0 5px;
  color: #202d3b;
}

.region_label {
    width: 700px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

/*This sets the height of the bottom map label */
.leaflet-horizontalcenter {
   padding-top: 510px;
   margin: 0 auto;
   width: 660px;
}

.leaflet-horizontalcenter .leaflet-control {
    margin-bottom: 0px;
}

.info {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #2c3e50;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 22px;
    height: 22px;
    background: #18bc9c;
    border: 2px solid white;
}
.label-span{
    font-size: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:rgba(0,0,0,.75);
}

.img-popup {
  width: 150px;
}


/*
#DenpasarPopup:hover:before {
    content: url("{{ site.baseurl }}/img/portfolio/denpasar2.png"); 
}
*/

</style>

<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />


<script src='{{ site.baseurl }}/assets/js/libs/leaflet.rrose-src.js'></script>
<link href='{{ site.baseurl }}/assets/css/leaflet.rrose.css' rel='stylesheet' />


<header style="margin-top: 75px;">




<div id="map" style="top:0px;left:0px;width:100%;height:550px;"></div>


                    <!--<span class="skills">{{ site.description }}</span>
</header>-->

<script type="text/javascript">

var txt = "";
txt += "<p>innerWidth: " + window.innerWidth + "</p>";
txt += "<p>innerHeight: " + window.innerHeight + "</p>";
txt += "<p>outerWidth: " + window.outerWidth + "</p>";
txt += "<p>outerHeight: " + window.outerHeight + "</p>";

console.log(txt);


L.mapbox.accessToken = 'pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ';

if (window.innerWidth < 1200) {

var map = L.mapbox.map('map', '', {
    attributionControl: false,
    zoomControl:false,
    scrollWheelZoom: false
  }).setView([18, 24], 2);

} else {

var map = L.mapbox.map('map', '', {
    attributionControl: false,
    zoomControl:false,
    scrollWheelZoom: false
  }).setView([18, 24], 3);

}


/*
    var map = L.mapbox.map('map')
    .setView([38.97416, -95.23252], 15);
*/

// Use styleLayer to add a Mapbox style created in Mapbox Studio
  var baseLayer = L.mapbox.styleLayer('mapbox://styles/hiu/cipse716l000lcbnk2l6sgbz8',{
    minZoom: 1,
    maxZoom: 16,
    scrollWheelZoom: true,
    zoomControl: false // we'll add later
  }).addTo(map);



var bottomText = L.divIcon({  
  className: "my-div-icon",
  html: "<div class='region_label'>Resiliency - Human Security - Emergency Preparedness</div>"
});



var cuscoIcon = L.divIcon({
    className: 'city-icon',
    html: '<div class="circleBase type1"></div>'+
              '<span class="label-span">Cusco, Peru</span>'
});
// you can set .my-div-icon styles in CSS

cuscoMarker = L.marker([-13.51845,-71.97752], {icon: cuscoIcon}).addTo(map);

cuscoMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/cusco2.png" class="img-popup" alt="Cusco"></br><p>Cusco city page is coming soon</p>');

cuscoMarker.on('mouseover', function (e) {
            this.openPopup();
            $( ".leaflet-popup-close-button" ).hide();
        });
cuscoMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });

var denpasarIcon = L.divIcon({
    className: 'city-icon',
    html: '<div class="img-div"><a href="http://2cdenpasar.com/" target="_blank" > <div class="circleBase type1" id="DenpasarPopup"></div>'+
              '<span class="label-span">Denpasar, Indonesia</span></a></div>'
});
// you can set .my-div-icon styles in CSS

denpasarMarker = L.marker([-8.6493,115.2169], {icon: denpasarIcon}).addTo(map);

/*
DenpasarMarker.bindPopup('<div class="caption"><div class="caption-content"><i class=""><h3>Denpasar, Indonesia</h3></i></div></div><img src="{{ site.baseurl }}/img/portfolio/denpasar2.png" class="img-popup" alt="Denpasar">');
*/

denpasarMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/denpasar2.png" class="img-popup" alt="Denpasar"></br>');

denpasarMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openPopup();
            //debugger;
            //console.log('after popup');
            $( ".leaflet-popup-close-button" ).hide();
        });

denpasarMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });

var kharkivIcon = L.divIcon({
    className: 'city-icon',
    html: '<a href="{{ site.baseurl }}/kharkiv" target="_blank" ><div class="circleBase type1"></div>'+
              '<span class="label-span">Kharkiv, Ukraine</span></a>'
});

kharkivMarker = L.marker([49.9811,36.2533], {icon: kharkivIcon}).addTo(map);

// https://github.com/Leaflet/Leaflet/issues/734 you can offset the pop-up
kharkivMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/kharkiv2.png" class="img-popup" alt="Kharkiv">', {offset: new L.Point(-100, 120)});

kharkivMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openPopup();
            //debugger;
            //console.log('after popup');
            $( ".leaflet-popup-close-button" ).hide();
            //turn off popup indicator on bottom
            //$( ".leaflet-popup-tip" ).hide();
            /*
            notes: need to modify pop-up for indicator pointer to point left instead of pointing down from the bottom
            adding float-left to leaflet-popup-content-wrapper and leaflet-popup-tip-container divs
            need to disable the width of the leaflet-popup-content-wrapper child div leaflet-popup-content
            need to att margin-top: 22px and remove border-left of leaflet-popup-tip div
            */
            $( ".leaflet-popup-content-wrapper" ).css("float", "left");
            $( ".leaflet-popup-tip-container" ).css("float", "left");
            $( ".leaflet-popup-content" ).css("width", "none");
            $( ".leaflet-popup-tip" ).css("margin-top", "22px");
            $( ".leaflet-popup-tip" ).css("border-left", "none");
        });

kharkivMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });

/*

var kharkivMarker = new L.Rrose({ offset: new L.Point(0,-10), icon: kharkivIcon, autoPan: false })
      .setContent('test')
      .setLatLng([49.9811,36.2533])
      .openOn(map);

kharkivMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openOn(rrose_map);
            //debugger;
            //console.log('after popup');
            //$( ".leaflet-popup-close-button" ).hide();
        });

kharkivMarker.on('mouseout', function (e) {
            rrose_map.closePopup()
            //$( ".leaflet-popup-close-button" ).show();
        });


/*
var kharkivMarker = L.marker([49.9811,36.2533]);
//marker1 = L.marker([49.9811,36.2533]);
var rrose1 = new L.Rrose({ offset: new L.Point(-20,-70), closeButton: false, autoPan: false }).setLatLng([41.4, 2.1]).setContent('</br><p>Medellin city page is coming soon</p>');
kharkivMarker.bindPopup(rrose1);
kharkivMarker.on('mouseover', function(e) {
    this.openPopup();
});
kharkivMarker.on('mouseout', function(e) {
    this.closePopup();
});
map.addLayer(kharkivMarker);

var marker2 = L.marker([50.846667, 4.354722]);
var rrose2 = new L.Rrose({ offset: new L.Point(0,-50), autoPan: false }).setContent('This Is OK');
marker2.bindPopup(rrose2);
marker2.on('mouseover', function(e) {
    e.target.openPopup();
});
map.addLayer(marker2);




*/

var medellinIcon = L.divIcon({
    className: 'city-icon',
    html: '<div class="circleBase type1"></div>'+
              '<span class="label-span">Medellin, Colombia</span>'
});

medellinMarker = L.marker([6.25177,-75.56349], {icon: medellinIcon}).addTo(map);

medellinMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/medellin2.png" class="img-popup" alt="Medellin"></br><p>Medellin city page is coming soon</p>');

medellinMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openPopup();
            //debugger;
            //console.log('after popup');
            $( ".leaflet-popup-close-button" ).hide();
        });

medellinMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });

var mekelleIcon = L.divIcon({
    className: 'city-icon',
    html: '<div class="circleBase type1"></div>'+
              '<span class="label-span">Mekelle, Ethiopia</span>'
});

mekelleMarker = L.marker([13.49640,39.47523], {icon: mekelleIcon}).addTo(map);

mekelleMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/mekelle2.png" class="img-popup" alt="Mekelle"></br>');

mekelleMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openPopup();
            //debugger;
            //console.log('after popup');
            $( ".leaflet-popup-close-button" ).hide();
        });

mekelleMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });

var pokharaIcon = L.divIcon({
    className: 'city-icon',
    html: '<div class="circleBase type1"></div>'+
              '<span class="label-span">Pokhara, Nepal</span>'
});

pokharaMarker = L.marker([28.20907, 83.99585], {icon: pokharaIcon}).addTo(map);

pokharaMarker.bindPopup('<img src="{{ site.baseurl }}/img/portfolio/pokhara2.png" class="img-popup" alt="Pokhara"></br><p>Pokhara city page is coming soon</p>');

pokharaMarker.on('mouseover', function (e) {
            //console.log('before popup');
            this.openPopup();
            //debugger;
            //console.log('after popup');
            $( ".leaflet-popup-close-button" ).hide();
        });

pokharaMarker.on('mouseout', function (e) {
            this.closePopup();
            $( ".leaflet-popup-close-button" ).show();
        });


// http://stackoverflow.com/questions/33614912/how-to-locate-leaflet-zoom-control-in-a-desired-position
// Create additional Control placeholders
function addControlPlaceholders(map) {
    var corners = map._controlCorners,
        l = 'leaflet-',
        container = map._controlContainer;

    function createCorner(hSide) {
        var className = l + hSide;

        corners[hSide] = L.DomUtil.create('div', className, container);
    }

    //createCorner('horizontalcenter', 'top');
    createCorner('horizontalcenter');
}
addControlPlaceholders(map);

// Change the position of the Zoom Control to a newly created placeholder.
//map.zoomControl.setPosition('verticalcenterright');

var info = L.control({position: 'horizontalcenter'});

            info.onAdd = function (map) {
              this._div = L.DomUtil.create('div', 'info');
              this._div.innerHTML = '<div>Resiliency - Human Security - Emergency Preparedness</div>';
              return this._div;
            };

            info.addTo(map);


// You can also put other controls in the same placeholder.
//L.control.scale({position: 'verticalcenterright'}).addTo(map);


</script>
