
<!--<script src="build/plugins.min.js"></script>-->

<!-- jQuery 
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/jquery.js"></script>-->





<!-- Bootstrap Core JavaScript 
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/bootstrap.min.js"></script>-->

<!-- disable bootstrap, interfering with jquery-ui with cal pop-up boxes
<script src="{{site.baseurl}}/assets/js/libs/bootstrap.min.js"></script>
-->

<!-- Plugin JavaScript -->

<script src="{{site.baseurl}}/assets/js/libs/classie.js"></script>
<script src="{{site.baseurl}}/assets/js/libs/cbpAnimatedHeader.js"></script>
 
<!-- Contact Form JavaScript -->
<script src="{{site.baseurl}}/assets/js/libs/jqBootstrapValidation.js"></script>
<script src="{{site.baseurl}}/assets/js/libs/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/assets/js/libs/freelancer.js"></script>



