
<!--<script src="build/plugins.min.js"></script>-->

<!-- jQuery 
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/jquery.js"></script>-->

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript 
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/bootstrap.min.js"></script>-->

<script src="{{site.baseurl}}/assets/js/libs/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->

<script src="{{site.baseurl}}/assets/js/libs/classie.js"></script>
<script src="{{site.baseurl}}/assets/js/libs/cbpAnimatedHeader.js"></script>
 
<!-- Contact Form JavaScript -->
<script src="{{site.baseurl}}/assets/js/libs/jqBootstrapValidation.js"></script>
<script src="{{site.baseurl}}/assets/js/libs/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/assets/js/libs/freelancer.js"></script>
