<!-- Materials Section -->
<section class="success" id="materials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Materials</h2>
                    <hr class="star-primary2">
                </div>
             </div>
	   <div class="row">
             <div class="col-lg-4 col-lg-offset-2">
                    <center><p><a href="Insert Here">Overview</a><br><a href="Insert Here">Tracker</a><br><a href="Insert Here">Weekly Reports</a><br><a href="Insert Here">Other Reports</a></p></center>
</div>
                <div class="col-lg-4 col-lg-offset-0">
                    <center><p><a href="Insert Here">Presentations</a><br><a href="Insert Here">Proposals/Contracts</a><br><a href="Insert Here">Deliverables</a><br><a href="Insert Here" target="_blank">Misc. Documents</a><br><a href="Insert Here" target="_blank">Timeline</a></p></center>

             </div>
             </a>
         </div>
         </div>
	</section>
