{% for city in site.categories.cities %}
<div class="portfolio-modal modal fade" id="{{ city.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ city.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/{{ city.img }}" class="img-responsive img-centered" width="500px" alt="{{ city.title }}"
                        {{ city.content }}
<!--
                        <ul class="list-inline item-details">
                            <li>Category:
                                <strong>{{ city.category }}
                                    </strong>
                            </li>
                            <li>Date:
                                <strong>{{ city.date | date: "%B %Y" }}
                                    </strong>
                            </li>
                        </ul>
-->
                        <button type="button" class="btn btn-default2" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
