<!-- Navigation -->

<!--css fixes navbar from shifting when user clicks on a modal-->
<!--https://github.com/twbs/bootstrap/issues/14040-->
<style>

html {
    overflow-x: hidden;
}

body.modal-open{
width:100%!important;
padding-right:0!important;
overflow-y:scroll!important;
position:fixed!important;
}

</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#page-top">{{ site.title }}</a>
            <a href="http://www.state.gov"><img src="img/doslogo5.png" alt="" height="65" width="65"></a>-->

            <a href="http://www.state.gov"><img id="dos-eagle" src="{{site.baseurl}}/img/dos_eagle.png" alt="Department of State Eagle logo" height="55" width="55"></a>

            <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logos/2C_LogoWhite2.png" alt="Secondary Cities logo" height="45" width="180px" style="margin-left: 10px;"></a>


        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-size:16px;">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cities
                      </a>
                      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown" style="width:max-content; padding: 5px">
                        <a class="dropdown-item" href="{{site.baseurl}}/boke_kamsar/">Boké-Kamsar, Guinea</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/cusco/">Cusco, Peru</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/darkhan/">Darkhan, Mongolia</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/denpasar/">Denpasar, Indonesia</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/douala/">Douala, Cameroon</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/esmeraldas/">Esmeraldas, Ecuador</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/indore/">Indore, India</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/kharkiv/">Kharkiv, Ukraine</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/medellin/">Medellín, Colombia</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/mekelle/">Mekelle, Ethiopia</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/pemba/">Pemba, Mozambique</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/pokhara/">Pokhara, Nepal</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/port_harcourt/">Port Harcourt, Nigeria</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/santa_fe/">Santa Fe, Argentina</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/santiago/">Santiago, Dominican Republic</a></br>
                        <a class="dropdown-item" href="{{site.baseurl}}/tijuana/">Tijuana, Mexico</a>
                      </div>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#2Cstory">Story2</a>
                    </li>


                    <li class="page-scroll">
                        <a href="#data">Data3</a>
                    </li>

<!--
                    <li class="page-scroll">
                        <a href="#portfolio">Cities</a>
                    </li>
-->
				<li class="page-scroll">
                        <a href="#partners">Partners4</a>
                    </li>
                    


                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/events/">Events</a>
                    </li>


                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/resources/">Resources</a>
                    </li>

                    <li class="page-scroll">
                        <a href="{{ site.baseurl }}/faq/">FAQ</a>
                    </li>
				<!-- <li class="page-scroll">
                        <a href="#materials">Materials</a>
                    </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
