<!-- Partners Section -->
    <section class="success" id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partners</h2>
                    <hr class="star-primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <center><p>Our partners build relationships in the
field working with embassy and local government officials, universities,
and non-governmental organizations.</p></center>
                </div>
                <div class="col-lg-4">
                    <center><p><a href="http://www.aag.org"> American Association of Geographers</a><br><a href="http://www.colostate.edu"> Colorado State University</a><br><a href="http://www.ecocitybuilders.org">EcoCity Builders</a><br><a href="http://www.kathmandulivinglabs.org"> Kathmandu Living Labs</a></p></center>
                </div>
        </div>
    </section>
