<!-- Partners Section -->
<section class="success" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partners</h2>
                <hr class="star-primary2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <p>Our local partners build relationships in the
field working with embassy and local government officials, universities,
and non-governmental organizations.</p>
                
            </div>
            <div class="col-lg-5" style="line-height:27px;">
                <center><p>
                    <a class="main-hyperlink" href="http://www.aag.org" target="_blank" > American Association of Geographers</a><br>
                    <a class="main-hyperlink" href="http://www.colostate.edu" target="_blank" > Colorado State University</a><br>
                    <a class="main-hyperlink" href="http://www.ecocitybuilders.org" target="_blank" > EcoCity Builders</a><br>
                    <a class="main-hyperlink" href="http://www.kathmandulivinglabs.org" target="_blank" > Kathmandu Living Labs</a></p>
                </center>
            </div>
         </div>
        <br>
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" >
                    <p>
                        2C project and partners support any one or combination of open source and proprietary <a class="main-hyperlink" href="{{ site.baseurl }}/faq/#tools">geospatial tools and technologies</a> for data generation, data management and sharing, data visualization, and remote sensing. 2Cs has established a partnership with <a class="main-hyperlink" href="http://www.esri.com" target="_blank" > Esri</a> to use their <a class="main-hyperlink" href="http://www.esri.com/software/arcgis" target="_blank" > ArcGIS</a> software products.
                    </p>
                </div>
            </div>

    </div>
</section>
