
<!-- DATATABLES BOOTSTRAP INTEGRATION CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">

<style>

header ul a,header a.active,header a:active,header a:focus, header a:hover {
  color: #7B533F;
}

li {
  list-style-type: none;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    font-size: 2.1rem;
    line-height: 1.33333;
    margin-bottom: 0;
}

.post-list li:after {
    content: "";
    display: table;
    clear: both;
}

.post-list a {
    text-decoration: none;
    color: #222;
}

.entry-tags {
    display: block;
    margin-top: .5em;
    text-transform: uppercase;
    font-size: 1.15rem;
    line-height: 2.18182;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.entry-tags a {
    padding: .2em .4em;
    margin: 0 .2em;
    background-color: #fff;
    color: #202d3b;
    border-radius: 5px;
    border: 2px solid #202d3b;
}

.post-list a>span {
    float: right;
}

@media screen and (min-width: 48em)
.post-list .entry-date {
    display: inline;
}

.post-list .entry-date {
    font-size: 18px;
    font-size: 1.3rem;
    line-height: 1.71429;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media screen and (min-width: 62.5em)
.post-list .abstract {
    width: 60%;
}

.post-list .abstract {
    display: block;
    float: none;
    font-size: 14px;
    font-size: 1.6rem;
    line-height: 1.14286;
    margin-bottom: 0;
}

.tag-box {
    list-style: none;
    margin: 0;
    padding: 4px 0;
    overflow: hidden;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    font-size: 1.65rem;
    line-height: 1.71429;
    margin-bottom: 24px;
    margin-bottom: 1.4rem;
    line-height: 2.5;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    color: #fff;
    background-color: #7B533F;
    border-radius: 4px;
    text-decoration: none;
}

.tag-box a span {
    vertical-align: super;
    font-size: 10px;
    font-size: 1.3rem;
    line-height: 2.4;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

a.toggle-vis {
    text-decoration: none;
    white-space: nowrap;
}

a.selected-tag {
    background-color: #202d3b;
    color: #18bc9c;
}

#mySelection {
    border: 1px solid #ddd;
    font-size: 14px;
}

</style>

{% assign count_workshops = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "workshops" %}
    {% assign count_workshops = count_workshops | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_events = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "events" %}
    {% assign count_events = count_events | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_bibliography = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "bibliography" %}
    {% assign count_bibliography = count_bibliography | plus: 1 %}
  {% endif %}
{% endfor %}

<header>
    <div class="container" style="padding-top:100px;padding-bottom:10px;">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-12 text-center">
                    <h2>Resources</h2>
                    <hr class="star-primary2">
                </div>

<!--
                <div>
                    <h4 class="page-title" style="text-transform: none;">The Resources page is broken down by resources found in workshops, products, bibliography, and ethics</h4>
                </div>
-->
                <ul class="nav nav-tabs main-hyperlink" style="padding: 10px 10px 0px 10px;">
                  <li class="active"><a href="#bibliography" data-toggle="tab">bibliography</a></li>

                  <li><a href="#tools" data-toggle="tab">tools</a></li>
                  <li><a href="#workshops" data-toggle="tab">workshop materials</a></li>
                  <li><a href="#products" data-toggle="tab">maps</a></li>
                  <li><a href="#ethics" data-toggle="tab">ethics</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container" style="padding-top:10px;padding-bottom:80px;">
    <div class="row">
        <div class="col-lg-12">

          <div class="tab-content" style="padding: 10px;">

            <div id="workshops" class="tab-pane">


<!--used to build site cloud-->
{% capture site_tags_workshops %}
{% for post in site.categories.resources %}{% if post.resource_type == "workshop" %}{% for tag in post.tags %}'{{ tag }}'{% unless forloop.last %},{% endunless %}{% endfor %}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}
{% endcapture %}

<!--used to build site cloud-->
{% capture site_tags_products %}
{% for post in site.categories.resources %}{% if post.resource_type == "product" %}{% for tag in post.tags %}'{{ tag }}'{% unless forloop.last %},{% endunless %}{% endfor %}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}
{% endcapture %}


                <div class="row">
                            
                    <div class="col-lg-9">

                        <ul class="post-list workshops" data-search-results>

                            {% for post in site.categories.resources %}
                            {% if post.resource_type == "workshop" %}

                               <li>
                                 <article>
                                    {% if post.external_url %}
                                        <a href="{{ post.external_url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.abstract %} <span class="abstract">{{ post.abstract }}</span>{% endif %}</a>
                                    {% else %}
                                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.abstract %} <span class="abstract">{{ post.abstract }}</span>{% endif %}</a>
                                    {% endif %}

                                    <span class="entry-tags">
                                        {% if post.tags %}
                                            {% for tag in post.tags %}
                                                <a href="{{ site.baseurl }}/resources/#tab_workshops&{{ tag | url_encode }}" title="Posts tagged {{ tag }}" id="{{ tag | url_encode }}">{{ tag }}</a>
                                                {% unless forloop.last %}
                                                {% endunless %}
                                            {% endfor %}
                                        {% endif %}
                                    </span>
                                  </article>
                                </li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="col-lg-3" style="border-left: 1px solid #ddd;">
                        <div class="tag-cloud">
                            <h3 style="margin-top:8px">Tags</h3>
                            <ul class="tag-box tag-box-workshops inline">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div id="products" class="tab-pane ">
              <div class="row">
                <div class="col-lg-9">

                    <ul class="post-list products" data-search-results>
                        {% for post in site.categories.resources %}
                            {% if post.resource_type == "product" %}

                               <li 
                                 <article>
                                    {% if post.external_url %}
                                        <a href="{{ post.external_url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.abstract %} <span class="abstract">{{ post.abstract }}</span>{% endif %}</a>
                                    {% else %}
                                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.abstract %} <span class="abstract">{{ post.abstract }}</span>{% endif %}</a>
                                    {% endif %}

                                    <span class="entry-tags">
                                        {% if post.tags %}
                                            {% for tag in post.tags %}
                                                <a href="{{ site.baseurl }}/resources/#tab_workshops&{{ tag | url_encode }}" title="Posts tagged {{ tag }}" id="{{ tag | url_encode }}">{{ tag }}</a>
                                                {% unless forloop.last %}
                                                {% endunless %}
                                            {% endfor %}
                                        {% endif %}
                                    </span>
                                  </article>
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-3" style="border-left: 1px solid #ddd;">
                    <div class="tag-cloud">
                        <h3 style="margin-top:8px">Tags</h3>
                        <ul class="tag-box tag-box-products inline">
                        </ul>
                    </div>
                </div>
              </div>
          </div>

                <div id="tools" class="tab-pane ">
                {% for product in site.categories.resources %}
                  {% if product.id == "events" %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
                    {% if thecycle == 'odd' %}
                      {% include main/listitem_product.html odd=true %}
                    {% else %}
                      {% include main/listitem_product.html odd=false %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                    <div class="row">
                        <div class="col-lg-12" style="overflow: auto;">
                          <div style="font-style: italic;">
                            The Secondary Cities’ partners use an array of appropriate open source and proprietary mapping tools. Although this table is not an exhaustive list of the existing mapping tools, the table provides a number of available tools and enables a comparison of the functionalities and capabilities. Click on the categories below to toggle columns on and off:

                            <!--The tools are organized in five general categories: 1) GIS platforms; 2) remote sensing analysis; 3) field data collection; 4) data management and dissemination; and 5) data visualization and communication. 2C project and partners support any one or combination of open source and proprietary geospatial tools in this table and beyond. Please contact <a href="mailto:secondarycities@state.gov" target="_top">secondarycities@state.gov</a> to include a mapping tool that is not listed in this table.-->
                            </p>
                          </div>
                            <div class="entry-tags" style="cursor:pointer;padding-bottom:10px;">
                                <!--Toggle column:--> 
                                <a class="toggle-vis" data-column="0">Name</a>
                                <a class="toggle-vis" data-column="1">Category</a>
                                <a class="toggle-vis" data-column="2">Platform(s)</a>
                                <a class="toggle-vis" data-column="3">Cost</a>
                                <a class="toggle-vis" data-column="4">GIS Capabilities</a>
                                <a class="toggle-vis" data-column="5">Licensing</a>
                                <a class="toggle-vis" data-column="6">Notes</a>
                                <a class="toggle-vis" data-column="7">Remote Sensing Capabilities</a>
                                <a class="toggle-vis" data-column="8">Sharing and Privacy</a>
                                <a class="toggle-vis" data-column="9">Supported Data Types</a>
                                <a class="toggle-vis" data-column="10">System Requirements</a>
                                <a class="toggle-vis" data-column="11">Usability</a>
                            </div>
                            <div id="graphic"></div>
                        </div>
                    </div>

                    <!--<iframe src="https://docs.google.com/spreadsheets/d/1Ui2G_ZPCbgxmRJ8r93WOS47zwPItfOI74vUM9W7AnDI/pubhtml?gid=531126027&single=true&widget=true&headers=false" align="center" height = "600px" width = "98%"></iframe>
-->

                </div>

                  <div id="bibliography" class="tab-pane active">
                    <strong>The Secondary Cities team manages their bibliography using the open source Zotero platfrom. The blocking of 3rd-party cookies may prevent viewing this page correctly, however, you can visit the <a href="https://www.zotero.org/groups/secondary_cities/items">Secondary Cities Zotero page</a> directly.</strong>
</p>

                    <iframe src="https://www.zotero.org/groups/secondary_cities/items" name="ZoteroLibary" scrolling="auto" frameborder="no" align="center" height = "600px" width = "98%"></iframe>
                  </div>

                  <div id="ethics" class="tab-pane copper">


                    The Secondary City (2C) initiative recognizes the need to integrate the Geographic Information System (GIS) Code of Ethics in our participatory mapping activities.  Dr. Melinda Laituri, the 2C Principal Investigator, has created the following presentation to provide an introduction to ethics for participatory mapping in secondary cities.

<p></p>

                    <a class="main-hyperlink" href="http://secondarycities.geonode.state.gov/documents/2207" target="_blank">Ethics Guidelines for Secondary Cities Initiative</a>

<p></p>
The 2C Ethics presentation introduces the following topics:
<p></p>
                    As GIS professionals, the Secondary Cities team and partners support and strictly adhere to the GIS code of ethics from the Urban and Regional Information Systems Association (URISA). This Code of Ethics is intended to provide guidelines for GIS (geographic information system) professionals. It should help professionals make appropriate and ethical choices. It should provide a basis for evaluating their work from an ethical point of view. By heeding this code, GIS professionals will help to preserve and enhance public trust in the discipline.
                    <p></p>

                    <a class="main-hyperlink" href="http://www.urisa.org/clientuploads/directory/Documents/CodeofEthics.pdf" target="_blank">URISA  Ethics Document</a>

                    <p></p>
                    A discussion of the practical application of GIS ethics for participatory mapping can be found at:

                    <p></p>
                    <a class="main-hyperlink" href="https://opendocs.ids.ac.uk/opendocs/bitstream/handle/123456789/328/rc53a.pdf?sequence=1" target="_blank">Practical ethics for PGIS practitioners, facilitators, technology intermediaries, and researchers” (Participatory Learning and Action, April 2006)</a>

                  </div>

            </div>
        </div>
    </div>
</div>


<script>

    //defining vars globally
    var vars;
    var counts_workshops = {};
    var counts_products = {};

    function myHashChangefunction() {
        console.log('hashchange called');

        console.log(location.hash);
        
        $(".entry-tags a").removeAttr('style');
        $(".tag-cloud a").removeAttr('style');

        $('.tab-content .post-list li').hide();

        if (location.hash.slice(1) == 'tab_workshops') {
            $('.tab-content li').show();
            //in case double-clicking on a button reset list and changed the url hash to tab_workshops
            //you need to re-build all the correct hashes for the buttons
            $("a[href$='tab_workshops']").attr('href', function() {
                return this.pathname +'#tab_workshops&'+ this.id;
            });
        } else if (location.hash.slice(1) == 'tab_products') {
            $('.tab-content li').show();
            //in case double-clicking on a button reset list and changed the url hash to tab_workshops
            //you need to re-build all the correct hashes for the buttons
            $("a[href$='tab_products']").attr('href', function() {
                return this.pathname +'#tab_products&'+ this.id;
            });
        }

        vars = location.hash.slice(1).split('&');

        console.log('printing vars1: ');
        console.log(vars);

        var tab_selection = 'none';

        if (vars[0] == 'tab_workshops') {
            //removing tab_workshops from array
            var index = vars.indexOf('tab_workshops');
            vars.splice(index, 1);
            tab_selection = 'tab_workshops';
        } else if (vars[0] == 'tab_products'){
            //removing tab_products from array
            var index = vars.indexOf('tab_products');
            vars.splice(index, 1);
            tab_selection = 'tab_products';
        }

        console.log('printing vars2: ');
        console.log(vars);

        if (tab_selection == 'tab_workshops') {
            //console.log('finally');
            //console.log(vars[0]);

                    //loop through each li parent in post-list
            //for each parent look to see if any of the vars variables
            //match any of a parent's entry tags
            //if so you can show the li parent

            show_parent_array_workshops = $('<ul class="post-list workshops" data-search-results>');

            //loop through each li parent in post-list
            $( ".post-list.workshops li" ).each(function() {
                entry_tags_array_workshops = $( this ).find( ".entry-tags a" );

                var myTags_workshops = [];

                entry_tags_array_workshops.each(function(){
                  //console.log('testing entry tag ids: ');
                  //console.log($(this).attr('id'));
                  myTags_workshops.push($(this).attr('id'));
                });

                var show_parent = true;

                //console.log('show parent val1');
                //console.log(show_parent);

                //for each of vars variables in the vars array
                for (var i = 0; i < vars.length; i++) {
                    //console.log('vars val');
                    //console.log(vars[i]);
                    if (myTags_workshops.indexOf(vars[i]) === -1) {
                      // element doesn't exist in array
                      //console.log('breaking array');
                      var show_parent = false;
                      break; 
                      //or else continue
                    }
                }

                //console.log('show parent val2');
                //console.log(show_parent);

                if (show_parent == true) {
                    //now you can show li
                    //styling for the tags

                    //console.log('show parent is true');
                    for (var i = 0; i < vars.length; i++) {
                        //console.log('vars val2');
                        //console.log(vars[i]);
                        $( this ).find( ".entry-tags a[id='"+vars[i]+"']" ).css( "background-color", "#202d3b" );
                        $( this ).find( ".entry-tags a[id='"+vars[i]+"']" ).css( "color", "#18bc9c" );

                        //styling for tags in tag cloud
                        $( ".tag-box a[id='"+vars[i]+"']" ).css( "background-color", "#202d3b" );
                        $( ".tag-box a[id='"+vars[i]+"']" ).css( "color", "#18bc9c" );
                    }

                    $( this ).show();

                    //show_parent_array.push($( this ));

                    // Merge object2 into object1

                    $( this ).clone().appendTo(show_parent_array_workshops);
                    //show_parent_array.clone( $( this ) );
                }

            });

            //console.log('show parent array: ');
            //console.log(show_parent_array_workshops);

            //have a list of parents that are being shown
            show_parent_entry_tags_array = show_parent_array_workshops.find(".entry-tags a");

            var show_parent_array_tags = [];
            show_parent_entry_tags_array.each(function(){
              show_parent_array_tags.push($(this).attr('id'));
            });

            //console.log('show_parent_array_tags ');
            //console.log(show_parent_array_tags);

        } else if (tab_selection == 'tab_products') {

            //console.log('finally products');
            //console.log(vars[0]);

                    //loop through each li parent in post-list
            //for each parent look to see if any of the vars variables
            //match any of a parent's entry tags
            //if so you can show the li parent

            show_parent_array_products = $('<ul class="post-list products" data-search-results>');

            //loop through each li parent in post-list
            $( ".post-list.products li" ).each(function() {
                entry_tags_array_products = $( this ).find( ".entry-tags a" );

                var myTags_products = [];

                entry_tags_array_products.each(function(){
                  //console.log('testing entry tag ids: ');
                  //console.log($(this).attr('id'));
                  myTags_products.push($(this).attr('id'));
                });

                var show_parent = true;

                //console.log('show parent val1');
                //console.log(show_parent);

                //for each of vars variables in the vars array
                for (var i = 0; i < vars.length; i++) {
                    //console.log('vars val');
                    //console.log(vars[i]);
                    if (myTags_products.indexOf(vars[i]) === -1) {
                      // element doesn't exist in array
                      //console.log('breaking array');
                      var show_parent = false;
                      break; 
                      //or else continue
                    }
                }

                //console.log('show parent val2');
                //console.log(show_parent);

                if (show_parent == true) {
                    //now you can show li
                    //styling for the tags

                    console.log('show parent is true');
                    for (var i = 0; i < vars.length; i++) {
                        //console.log('vars val2');
                        //console.log(vars[i]);
                        $( this ).find( ".entry-tags a[id='"+vars[i]+"']" ).css( "background-color", "#202d3b" );
                        $( this ).find( ".entry-tags a[id='"+vars[i]+"']" ).css( "color", "#18bc9c" );

                        //styling for tags in tag cloud
                        $( ".tag-box a[id='"+vars[i]+"']" ).css( "background-color", "#202d3b" );
                        $( ".tag-box a[id='"+vars[i]+"']" ).css( "color", "#18bc9c" );
                    }

                    $( this ).show();

                    //show_parent_array.push($( this ));

                    // Merge object2 into object1

                    $( this ).clone().appendTo(show_parent_array_products);
                    //show_parent_array.clone( $( this ) );
                }

            });

            console.log('show parent array: ');
            console.log(show_parent_array_products);

            //have a list of parents that are being shown
            show_parent_entry_tags_array = show_parent_array_products.find(".entry-tags a");

            var show_parent_array_tags = [];
            show_parent_entry_tags_array.each(function(){
              show_parent_array_tags.push($(this).attr('id'));
            });

            console.log('show_parent_array_tags ');
            console.log(show_parent_array_tags);

        }


        //looping through all tags in tag cloud
        if (counts_workshops.length > 0) {
            for (var key in counts_workshops) { 

                //console.log(key);
                //console.log(counts[key]);

                tag_hash = encodeURIComponent(key);
                tag_hash = tag_hash.replace(/%20/g, "+");
                console.log(tag_hash);

                //if tag does not show up in any of the shown parent's tags
                if (show_parent_array_tags.indexOf(tag_hash) === -1) {
                    //console.log('make tag unclickable');
                    //console.log(key);

                    //then make the tag in the tag cloud unclickable
                    $( ".tag-box a[id='"+tag_hash+"']" ).css( "pointer-events", "none" );
                }
            }
        }
        
        if (counts_workshops.length > 0) {
            for (var key in counts_products) { 

                //console.log(key);
                //console.log(counts[key]);

                tag_hash = encodeURIComponent(key);
                tag_hash = tag_hash.replace(/%20/g, "+");
                console.log(tag_hash);

                //if tag does not show up in any of the shown parent's tags
                if (show_parent_array_tags.indexOf(tag_hash) === -1) {
                    console.log('make tag unclickable');
                    console.log(key);

                    //then make the tag in the tag cloud unclickable
                    $( ".tag-box a[id='"+tag_hash+"']" ).css( "pointer-events", "none" );
                }
            }
        }


    }

$(window).on('hashchange', function(){ 
        myHashChangefunction();
    });

</script>



<script>

//document ready makes sure bootstrap is loaded first
//This code opens the right tab by reading the url hash.
$( document ).ready(function() {

/*
window.addEventListener("hashchange", function () {
    window.scrollTo(window.scrollX, window.scrollY - 400);
});
*/

    console.log('doc ready called');
    console.log('doc loc hash');
    console.log(document.location.hash);
    // Javascript to enable link to tab
    var hash = document.location.hash;
    var prefix = "tab_";

    hash_no_tab = hash.replace(prefix,"");

    hash_no_tab = hash_no_tab.slice(1).split('#');

    var tags_in_url = 'false'

    console.log('hash_no_tab length');
    console.log(hash_no_tab.length);

    if (hash_no_tab.length > 1) {
        tags_in_url = 'true'
    }

    hash_no_tab = '#' + hash_no_tab[0];

    console.log('hash_no_tab');
    console.log(hash_no_tab);

    console.log('hash_no_tab length 1');
    console.log(hash_no_tab.length);

    if (hash_no_tab.length > 1) {
      $(".nav-tabs a[href='"+hash_no_tab+"']").tab('show');
    } else {
      console.log('else called');
      $(".nav-tabs a[href='#bibliography']").tab('show');
    }

    // Changes hash in the address bar for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });
    
    //the tag cloud needs to be built before the myHashChangefunction is called
    //building tag cloud
    

    site_tags_array_workshops = [{{ site_tags_workshops }}];
    site_tags_array_products = [{{ site_tags_products }}];

    for (var i = 0; i < site_tags_array_workshops.length; i++) {
        counts_workshops[site_tags_array_workshops[i]] = (counts_workshops[site_tags_array_workshops[i]] + 1) || 1;
    }

    for (var i = 0; i < site_tags_array_products.length; i++) {
        counts_products[site_tags_array_products[i]] = (counts_products[site_tags_array_products[i]] + 1) || 1;
    }

    console.log('does it work?');
    console.log(counts_workshops);
    console.log(counts_workshops.length);

        for (var key in counts_workshops) { 
            //text += cars[i] + "<br>";
            console.log(key);
            console.log(counts_workshops[key]);
            console.log('testing url encode: ');
            console.log(encodeURIComponent(key));
            tag_hash = encodeURIComponent(key);
            tag_hash = tag_hash.replace(/%20/g, "+");
            console.log(tag_hash);
            $('.tag-box-workshops').append("<li><a href='{{ site.baseurl }}/resources/#tab_workshops&"+tag_hash+"' id='"+tag_hash+"'>"+key+"<span>"+counts_workshops[key]+"</span></a></li>");
        }

        for (var key in counts_products) { 
            tag_hash = encodeURIComponent(key);
            tag_hash = tag_hash.replace(/%20/g, "+");
            $('.tag-box-products').append("<li><a href='{{ site.baseurl }}/resources/#tab_products&"+tag_hash+"' id='"+tag_hash+"'>"+key+"<span>"+counts_products[key]+"</span></a></li>");
        }

    //call the hashchange function to display the correct entries based on all the tags located in the url hash
    if (tags_in_url == 'true') {
        myHashChangefunction();
    }


    //http://stackoverflow.com/questions/7862233/twitter-bootstrap-tabs-go-to-specific-tab-on-page-reload-or-hyperlink

    //when a tag is clicked for an entry
    $( '.entry-tags a,.tag-box a' ).on( "click", function() {
        console.log( 'click check: ' +$( this ).text() );
        console.log( $( this ).attr("href") );
        console.log(window.location.pathname+window.location.hash);

        //console.log('can I still use the vars list?');
        //console.log(vars);

        console.log('id in vars list?');
        console.log( $( this ).attr("id") );

        tag_id = $( this ).attr("id")

        if (vars) {

            if (vars.indexOf(tag_id) > -1) {
                console.log('tag selected twice');
                //removing tab_workshops from array
                var index = vars.indexOf('tag_id');
                vars.splice(index, 1);

                console.log('print window location hash');
                console.log( window.location.hash );
                window.location.hash = window.location.hash.replace("&"+tag_id, "");

                console.log('print window location hash2');
                console.log( window.location.hash );

                base_url = window.location.href;
                //add to url depending on tag clicked
                new_url = base_url + window.location.href;
                console.log('new url2: ');
                console.log(new_url);

                $( this ).attr("href", window.location.hash)

            } else {
                console.log('else was selected ');
                base_url = window.location.href;
                //add to url depending on tag clicked
                new_url = base_url + '&' + $( this ).attr("id");
                console.log('new url: ');
                console.log(new_url);

                $( this ).attr("href", new_url)
            }

        }

        //console.log('new vars');
        //console.log(vars);

    });
        

});

    
</script>




<!--Code for Tools Table-->

<!--JS LIBRARIES-->

<!--JQUERY, already loaded
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>-->

<!--BOOTSTRAP JS, already loaded
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

<!-- DATATABLES -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min.js"></script>

<!--BOOTSTRAP INTEGRATION JS -->
<script src="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!-- TableTop -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.4.3/tabletop.min.js"></script>

<!-- Graphic js code -->


<script type="text/javascript">

//Edit 'key' and 'columns' to connect your spreadsheet

//enter google sheets key here, sheet can only have one tab
var key =
  "https://docs.google.com/spreadsheets/d/1Ui2G_ZPCbgxmRJ8r93WOS47zwPItfOI74vUM9W7AnDI/pubhtml";

//"data" refers to the column name with no spaces and no capitals
//punctuation or numbers in your column name
//"title" is the column name you want to appear in the published table
var columns = [{
"data": "Tool Name","title": "Name", "width":"40px"},
{"data": "Category","title": "Category", "width":"55px"},
{"data": "Platform(s)","title": "Platform(s)", "width":"55px"},
{"data": "Pricing","title": "Cost", "width":"55px"},
{"data": "GIS Capabilities","title": "GIS Capabilities", "width":"90px"},
{"data": "Licensing","title": "Licensing", "width":"55px"},
{"data": "Notes","title": "Notes", "width":"90px"},
{"data": "Remote Sensing Capabilities","title": "Remote Sensing Capabilities", "width":"65px"},
{"data": "Sharing and Privacy","title": "Sharing and Privacy","width": "65px"},
{"data": "Supported Data Types","title": "Supported Data Types", "width":"65px"},
{"data": "System Requirements","title": "System Requirements", "width":"65px"},
/*{"data": "Contact (Harvard Symposium)","title": "Contact"},*/
{"data": "Usability","title": "Usability", "width":"65px"}];

$(document).ready(function() {


  function initializeTabletopObject() {
    Tabletop.init({
      key: key,
      callback: function(data, tabletop) {
        console.log('data: ');
        console.log(data);
        writeTable(data); //call up datatables function
      },
      simpleSheet: true,
      debug: false
    });
  }

  initializeTabletopObject();

  function writeTable(data) {
    //select main div and put a table there
    //use bootstrap css to customize table style: http://getbootstrap.com/css/#tables
    $('#graphic').html(
      '<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed table-responsive" id="mySelection" style="table-layout:fixed;"></table>'
    );

    //initialize the DataTable object and put settings in
    $("#mySelection").DataTable({
      "data": data,
      "autoWidth": false,
      "columns": columns,
      "order": [
        [2, "desc"]
      ], //order on second column
      "pagingType": "simple",
      "columnDefs": [ {
      "targets": [0,3,4,6,7,8,9,10],
      "data": null,
      //https://datatables.net/reference/option/columns.render
      "render": function ( data, type, full, meta ) {
        //regex, http://stackoverflow.com/questions/32381742/js-regex-replace-contents-of-markdown-link

        var re = /\[(.*?)\]\((.+?)\)/g;
        var found = data.match(re);

        //console.log('data');
        //console.log(data);
        //console.log('pattern match');
        //console.log(found);

        if(found) {
            console.log('it exists');
            var re1 = /\[(.*?)\]/g;
            var title = data.match(re1);
            var newTitle = title[0].replace(/[\[\]']/g,'' );
            //console.log('newTitle');
            //console.log(newTitle);
            var re2 = /\((.+?)\)/g;
            var url = data.match(re2);
            var newUrl = url[0].slice(1,-1);
            //console.log('newUrl');
            //console.log(newUrl);

            return '<a href="'+newUrl+'" target="_blank" >'+newTitle+'</a>';
        } else {
            return data;
        }

    }
  } ]
        //no page numbers
        //uncomment these options to simplify your table
        //"paging": false,
        //"searching": false,
        //"info": false
    });

    //hides certian columns
    var table = $('#mySelection').DataTable();
    table.columns( [ 4, 5, 6, 7, 8, 9, 10, 11 ] ).visible( false, false );


    //Select default columns 0-4
    for (var i = 0; i < 4; i++) {
        $("a[data-column='"+i+"']").addClass('selected-tag');
    };

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
 
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
        column.visible( ! column.visible() );


        if ( $(this).hasClass('selected-tag') ) {
            $( this ).removeClass('selected-tag');
        } else {
            $( this ).addClass('selected-tag');
        }
        
    } );
  }
});
//end of writeTable

</script>

