<!-- Header -->

{% assign count_featured = 0 %}
{% for product in site.categories.resources %}
  {% if product.featured == true %}
    {% assign count_featured = count_featured | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_workshops = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "workshops" %}
    {% assign count_workshops = count_workshops | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_events = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "events" %}
    {% assign count_events = count_events | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_bibliography = 0 %}
{% for product in site.categories.resources %}
  {% if product.id == "bibliography" %}
    {% assign count_bibliography = count_bibliography | plus: 1 %}
  {% endif %}
{% endfor %}


<header>
    <div class="container" style="padding-top:120px;padding-bottom:80px;">
        <div class="row">
            <div class="col-lg-12">

                <div><h2 class="page-title">{{ page.title }}</h2></div>

                <ul class="nav nav-tabs" style="padding: 10px 10px 0px 10px;">
                  <li class="active"><a href="#featured" data-toggle="tab">Featured ({{ count_featured }})</a></li>
                  <li><a href="#workshops" data-toggle="tab">workshops ({{ count_workshops }})</a></li>
                  <li><a href="#events" data-toggle="tab">events ({{ count_events }})</a></li>
                  <li><a href="#bibliography" data-toggle="tab">bibliography ({{ count_bibliography }})</a></li>
                </ul>

                <div class="tab-content" style="padding: 10px;">
                  <div id="workshops" class="tab-pane active">
                    {% for product in site.categories.resources %}
                      {% if product.featured == true %}
                        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
                        {% if thecycle == 'odd' %}
                          {% include main/listitem_product.html odd=true %}
                        {% else %}
                          {% include main/listitem_product.html odd=false %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>

                    <div id="events" class="tab-pane ">
                    {% for product in site.categories.resources %}
                      {% if product.id == "events" %}
                        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
                        {% if thecycle == 'odd' %}
                          {% include main/listitem_product.html odd=true %}
                        {% else %}
                          {% include main/listitem_product.html odd=false %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>

                  <div id="bibliography" class="tab-pane ">
                    {% for product in site.categories.resources %}
                      {% if product.id == "bibliography" %}
                        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
                        {% if thecycle == 'odd' %}
                          {% include main/listitem_product.html odd=true %}
                        {% else %}
                          {% include main/listitem_product.html odd=false %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>

                
                </div>
        </div>
    </div>
</header>
