<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="georeport_nav">

    <div class="navbar-header page-scroll" id="city_title">

            <div class="col12 clearfix " style="padding-bottom: 5px">
                <div class="caption">
                      <div class="caption-content">
                          <!--<i class="fa fa-search-plus fa-3x"></i>-->
                        <i class="" ><h1 style="font-style: italic;font-size: 26px;color: #fff">{{ page.title }}</h1></i>
                      </div>
                </div>
            </div>

            <div class="tab-group col12 clearfix" style="margin-top: 8px;padding-bottom: 7px;text-transform:none">
                <div class="slider tabs col10 pad0x margin1 mobile-cols space-bottom1 clearfix">

                    <!--<a id="id-edit" class="col3 page-fade-link" href="//osm.moabi.org/edit?editor=id#map=5/-2.855/22.830">Edit</a>-->
                </div>
            </div>
        </div>

    <div class="navbar-header page-scroll" id="header_logo">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#page-top">{{ site.title }}</a>
            <a href="http://www.state.gov"><img src="img/doslogo5.png" alt="" height="65" width="65"></a>-->

            <a href="http://www.state.gov"><img src="{{site.baseurl}}/img/dos_eagle.png" alt="Department of State Eagle logo" height="55" width="55"></a>

            <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/SecondaryCitiesLogo_white.png" alt="Secondary Cities logo" height="45" width="180px" style="margin-left: 10px;"></a>

    </div>

    <div class="container" style="padding-left: 0px;height: 74px;">
        <!-- Brand and toggle get grouped for better mobile display -->


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-size:16px;padding-top: 15px">
                <li class="hidden">
                    <a href="{{site.baseurl}}/#page-top"></a>
                </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#portfolio">Cities</a>
                    </li>
				<li class="page-scroll">
                        <a href="{{site.baseurl}}/#partners">Partners</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/#data">Data</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/events/">Events</a>
                    </li>
				<!-- <li class="page-scroll">
                        <a href="#materials">Materials</a>
                    </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>
