<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    {% include header_map2.html %}

    {% include about.html %}

    {% include 2c_story_map.html %}

{% comment %}
    {% include cities.html %}

    {% include contact.html %}
{% endcomment %}

    {% include data.html %}

    {% include partners.html %}

    

    {% include footer.html %}

{% comment %}
    {% include modals.html %}
{% endcomment %}

    {% include javascript.html %}

  </body>

</html>
