<!DOCTYPE html>
<html class="no-js" lang="en">
{% include georeport_head.html %}
<style type="text/css">
p {
  font-size: 17px;
}
.grey {
    background: rgba(0, 0, 0, 0.1);
}
.caption-content {
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #333;
}
section {
    padding: 0px 0;
}
</style>


<body>

<!--
<nav class="small-12 columns fill-dark phn keyline-bottom">
  <ul class="small-12 medium-8 medium-push-2 columns">
    <li>
      <h3 class="center serif"><a href="#">{{page.title}}</a></h3>
    </li>
  </ul>
  <ul class="medium-2 columns inline-list right man">
    <li class="right pas"><a href="#">home</a></li>
  </ul>
</nav>
-->
{% include georeport_navbar.html %}

<!--<div id="report-container" class="small-12">-->
  <div id="sidebar" class="small-4 keyline-right fill-white left-bar fill-light strongline-right dropshadow-right no-footer">

    <div class="col12 clearfix keyline-bottom grey" style="padding-bottom: 14px">
        <div class="caption">
              <div class="caption-content">
                  <!--<i class="fa fa-search-plus fa-3x"></i>-->
                <i class="" ><h1 style="font-style: italic;font-size: 26px;color: #333">{{ page.title }}</h1></i>
              </div>
        </div>
    </div>

    <div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px;padding-bottom: 8px">
        <div class="slider tabs col10 pad0x margin1 mobile-cols space-bottom1 clearfix">
            <a class="col4 active" data-index="1">About</a>
            <a class="col4" data-index="2">Story</a>
            <a class="col4" data-index="3">Data</a>
            <!--<a id="id-edit" class="col3 page-fade-link" href="//osm.moabi.org/edit?editor=id#map=5/-2.855/22.830">Edit</a>-->
        </div>
    </div>

    <!--This div below needs to be the exact height and not over so scrolling doesn't appear-->
    <div class="col12 clip sliding h active1" style="height: calc(100% - 91px)">


      <!-- About -->
      
      <div class="col12 pad2x pad1y scroll-styled animate" style="height:100%;" markdown="1">

      {{ content }}

      </div>

      <!-- Story -->
      <!--The report id activates the report scroll feature-->
      <div class="report-panel col12 scroll-styled pad2 prose animate" id="report" style="height:100%;">

        {% for section in page.sections %}
          <section class="animate{% if forloop.first %}active{% endif %}"
                   {% if section.latlng or section.zoom %}data-nav='{"latlng": [ {{section.latlng | join: ","}} ], "zoom": {{section.zoom}} }'{% endif %}
                   {% if section.tile_layers %}data-tileid='{{section.tile_layers | join: ","}}'{% endif %}
                   {% if section.vector_data %}data-vector='{{section.vector_data | join: ","}}'{% endif %}>
            {% if section.title %}<h1 class="serif keyline-bottom pvs">{{ section.title }}</h1>{% endif %}
            {% if forloop.first %}
              <div class="mvs">
                <div class="small"><strong>By {{page.author}}</strong></div>
                <div class="small serif">{{page.date}}</div>
              </div>
            {% endif %}
            <!-- display section banner_image.
                 If first section and there is no section banner_image specified, default to page banner_image -->
            {% if section.banner_image %}
              <figure>
                <img src="{{section.banner_image}}" alt="banner image">
                <figcaption>{{section.banner_image_caption}}</figcaption>
                <figcaption><strong>Credit </strong>{{section.banner_image_source}}</figcaption>
              </figure>
            {% elsif forloop.first %}
              <figure>
                <img src="{{page.banner_image}}" alt="banner image">
                <figcaption>{{page.banner_image_caption}}</figcaption>
                <figcaption><strong>Credit </strong>{{page.banner_image_source}}</figcaption>
              </figure>
            {% endif %}

            {{ section.body | markdownify }}

          </section>
        {% endfor %}

        {% if page.footer %} <aside class="small quiet pvs keyline-top">{{page.footer}}</aside> {% endif %}

      </div>


    <!-- Data -->
  <div class="col12 pad2x pad1y scroll-styled animate" style="height:100%;">
      <ul>

      <li class="space-bottom4 clearfix">
          <h3 class="">Print Map</h3>
          <div class="pad0y quiet small">Take a screenshot of the current map view and download</div>
          <div id="images" class="col12 fill-darken strongline-all contain">
              <div class="pill pin-left">
                  <a id="snap" href="#" class="button short quiet" style="border-top:0; border-left:0;">capture</a><!--
                  --><a id="map-download" href="#" download="map.png" class="button short quiet" style="border-top:0;">download</a>
              </div>
              <img src="https://farm6.staticflickr.com/5274/14482085473_d8a7f95126.jpg" alt="screen shot">
          </div>
      </li>

      <li class="space-bottom4">
          <h3 class="">Map Embed</h3>
          <div class="pad0y quiet small">Easily embed the map in any blog or website using simple HTML</div>
          <fieldset class="">
              <input type="text" id="map-embed" class="stretch short small" value="<iframe src='rdc.moabi.org/mapi/#6/28.00/26.10' frameborder='0' width='650' height='500'></iframe>" onclick="this.focus();this.select()">
          </fieldset>
      </li>

      <li class="space-bottom4">
          <h3>
              <strong>Data Extracts</strong></a><span class="small quiet pad1x">(OSM, GeoJson)</span>
          </h3>
          <div class="pad0y quiet small">Download extracts of the Database</div>

          <div class="col8 margin2 pill mobile-cols clearfix">
              <a href="http://planet.osm.moabi.org/extracts/" class="col6 button quiet short">Download</a><!--
              --><a href="http://osm.moabi.org/copyright" class="col6 button quiet short">&copy; CC 4.0 </a>
          </div>

      </li>

    </ul>

  </div>



</div>

</div>


<div id="map" class="
  sidebarred 
  no-footer 
  leaflet-container leaflet-fade-anim" tabindex="0"></div>



<!-- Loading JavaScripts
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="{{site.baseurl}}js/vendor/jquery.js"><\/script>')
  // simple hack to pass variables defined in Jekyll front matter to app.js
  // set opening latlng and zoom coordinates to those set for the first section
  pageConfig = {
                 latlng: [ {{page.sections[0].latlng | join: ","}} ] , zoom: {{page.sections[0].zoom}},
                 {% if page.data_source_name %}source_name: '{{page.data_source_name}}',{% endif %}
                 {% if page.data_source_url %}source_url: '{{page.data_source_url}}',{% endif %}
                 tileOrigins: {
                   {% for origin in page.tileOrigins %}
                     '{{origin.name}}':'{{origin.url}}'{% unless forloop.last %},{% endunless %}
                   {% endfor %}
                 }
               };
  console.log('pageConfig: ');
  console.log(pageConfig);
</script>
<script src="{{site.baseurl}}/js/vendor/jquery.waypoints.js"></script>
<script src="{{site.baseurl}}/js/foundation.min.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>

</body>
</html>
